* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



html,
body {
    margin: 0;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0;
    width: 100%;
    background: linear-gradient(100.23deg, rgba(0, 0, 0, 0) 7.43%, rgba(123, 199, 77, 0.1) 92.57%),
        linear-gradient(0deg, var(--Color-3, #222831), var(--Color-3, #222831));
}

.bodyF {
    display: flex;
    flex-direction: column;
}


/*-------Заголовок и сумма-------*/

#myWishlistDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1141px;
    width: 100%;
}

#myWishlistH1 {
    color: white;
    font-weight: 900;
    font-size: 48px;
    margin: 0;
}

#costP {
    margin: 0;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 900;
    padding: 4px 12px 6px 12px;
    color: #EEEEEE;
    background-color: #60697633;
}


/*-------Главная часть-------*/
#mainInfDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    width: 100%;
    margin-top: 31px;
}

#notificationDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    width: 100%;
    background-color: #393E46;
    border-radius: 7px;
}

#greenNotificationDiv {
    display: flex;
    background-color: #7BC74D;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    width: 18px;
    height: 55px;
    align-items: center;
    justify-content: center;
    color: #EEEEEE;
    font-weight: 500;
    font-size: 21.21px;
}

#divForNav {
    display: flex;
    justify-content: center;
}

#mailNotificationDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 653px;
    color: #EEEEEE;
    font-weight: 500;
    font-size: 14px;
}

#mailSwitchDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1122px;
    margin-left: 15px;
    margin-right: 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 66.75px;
    height: 29.25px;
    font-family: sans-serif;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222831;
    border: 1px solid #222831;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #606976;
    font-size: 9.25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 2px;
    top: 3px;
    bottom:2px;
    background-color: #606976;
    border: 1px solid #606976;
    transition: .2s;
}

input:checked+.slider {
    border: 1px solid #7BC74D;
    color: #7BC74D;
}

input:checked+.slider:before {
    transform: translateX(37px);
    border: 1px solid #7BC74D;
}

.slider.round,
.slider.round:before {
    border-radius: 15px;
}

.slider .text {
    pointer-events: none;
    transition: all 0.2s ease;
    position: relative;
}

input:not(:checked)+.slider .text::before {
    content: "OFF";
    margin-left: 10.25px;
    margin-right: 0;
}

input:checked+.slider .text::before {
    content: "ON";
    margin-left: 0;
    margin-right: 10.25px;
}

#sortSaleDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 143px;
}

#sortSaleStartDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 1140px;
    margin-top: 30px;
    margin-bottom: 24px;
}

#sortP,
#saleP {
    font-weight: 400;
    font-size: 16px;
    color: #EEEEEE;
}

#sortP {
    opacity: 80%;
}

#arrowDownImg {
    width: 18px;
    transform: rotate(90deg);
}

#wishlistGameDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 1100px;
    background-color: #393E46;
    padding: 17px 20px 17px 20px;
    border-radius: 7px;
}

#imgTextDiv {
    display: flex;
    flex-direction: row;
}

#imgMyWishlist {
    margin-right: 24px;
}

#baseGameP {
    color: #EEEEEE;
    background-color: #4E555F;
    font-size: 12px;
    font-weight: 400;
    border-radius: 4px;
    padding: 2px 7px 4px 7px;
    width: 62px;
    margin: 0;
}

h5 {
    color: white;
    font-weight: 900;
    font-size: 24px;
    margin: 0;
}

#firstPDiv,
#secondPDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 255px;
    width: 100%;
}

#firstPDiv {
    margin-top: 19px;
}

#secondPDiv {
    margin-top: 8px;
}

.mainP,
.mainGreenP {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}


.mainGreyP,
.mainLeftButton {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.mainP {
    color: #EEEEEE;
}

.mainGreenP,
.mainGreyP:hover {
    color: #7BC74D;
}

.mainGreyP {
    color: #CACBCC;
}

.mainLeftButton {
    width: 112px;
    height: 39px;
    border: none;
    border-radius: 4px;
    margin-left: 33px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #7BC74D;
    color: #222831;
    cursor: pointer;
}

.mainLeftButton:hover {
    filter: brightness(130%);
}

#smallLogoPlatforms {
    margin-top: 19px;
}

#macLogoSmall {
    margin-left: 9.59px;
}

#smallCostP {
    margin: 0;
    margin-top: -3px;
    font-size: 16px;
    font-weight: 900;
    color: #EEEEEE;
}

#thirdPDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#endDiv {
    display: flex;
    width: 239px;
    height: 161px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 10px;
}

@media (max-width: 441px) {
    #wrapped {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #myWishlistDiv {
        flex-direction: column;
        align-items: flex-start;
        width: 408px;
        margin: 0;
    }
    #imgTextDiv{    
        width: 366px;
    }
    #costP {
        margin-top: 20px;
    }
    #mainInfDiv {
        flex-direction: column;
        align-items: center;
        margin-top: 43px;
        width: 408px;
    }
    #wishlistGameDiv {
        flex-direction: column;
        align-items: center;
        width: 408px;
        height: 327px;
        border-radius: 7px;
        gap: 20px;
        margin-right: 0px;
        padding: 24px 0px 0px 0px;
    }
    #mailNotificationDiv {
        width: 390px;
    }
    #notificationDiv {
        max-width: 408px;
    }
    #notificationP {
        margin-left: 5px;
    }
    #greenNotificationDiv {
        width: 45px;
        height: 79px;
    }
    #sortSaleStartDiv {
        width: 408px;
    }
    #mailNotificationDiv {
        width: 267px;
    }
    h5 {
        margin-top: 3px;
        font-weight: 700;
        font-size: 22px;
    }
    #imgTextDiv {
        flex-direction: row;
    }
    #endDiv {
        margin-left: 110px;
        height: 91px;
    }
}